*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #201b2c;
}
ul{
    list-style: none;
}

img{
    max-width: 2rem;
    border-radius: 50%;
    margin-left: 2rem;
}
img:hover{
    
}
.main{
    display:grid;
    gap: 8rem;
}
.menu{
    display: flex;
    background-color: rgb(34, 30, 36);
    justify-content: space-between;
    width: 100%;
    position: fixed;
    
}
.navbar ul{
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 7.5vh;
    display: flex;
    list-style: none;
    gap: 30px;
}
.navbar ul li{
    padding: 1rem;
}
.navbar ul li a{
    text-decoration: none;
    color: #00ff88;
    font-weight: 550;
    font-size: 20px;
    display: inline;
    border:2px solid transparent;
    
}
.navbar a:hover{
    border-bottom: 0.80px solid #00ff88;
}

/*tela 1*/

h1,h2{
    font-size: 3.5rem;
    color: #00ff88;
}
.home{
    margin-top: 2.5rem;
}
.home .titulo{
    font-size: 1.5rem;
    color: #10c06e;
    max-width: 45%;
    margin-top: 2rem;
}
.btn{
    margin-top: 2rem;
    border: none;
    padding: 10px;
    border-radius: 0.8rem;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    color: #2b134b;
    background: #00ff88;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    animation: go-back 1s infinite alternate-reverse;
    cursor: pointer;

        /* transition: transform 1s;
    transform: translateX(0) scale(0.5);} */
/* .btn:hover,
.btn:focus {
  background: red;
  transform: translateX(10px) scale(1.2);
  
} */

}


.info{
    margin-left: 4rem;
}

.home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.image img{
    max-width: 50%;
    margin-left: 30%;
}

/* cursos */

#cursos{
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2rem;
}
.cursos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    translate: 5%;
    
    
}
.cursos{
    background-color: #1f0e36;
    color: #8ff0c2;

    border-radius: 1rem;
    padding: 2rem;
    max-width: 80%;

    
}
.curso-left p{
    margin: 1rem 1rem;

}
.curso-rigth {
    color: #8ff0c2;
    text-align: center;

}
.curso-rigth h2 {
    text-align: center;
    font-size: 2rem;
}
.curso-rigth ul {
    text-align: center;
    margin-bottom: 2rem;
}
.curso-rigth a{
    
    text-decoration: none;
    padding: 10px;
    border-radius: 0.8rem;
    text-transform: uppercase;
    font-weight: 800;
    color: #2b134b;
    background: #00e279;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    
}





footer p{
    color: #00ff88;
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
    
    
    
}
footer ul{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;

}
footer a{
    text-decoration: none;
    font-weight: 300;
    color: #00ff88;
    
}
footer a:hover{
    border-bottom: 2px solid #00ff88;
}

@keyframes go-back {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

